<h1>Ask me the Fibonacci of: </h1>

<mat-form-field appearance="fill">
  <input type="number" matInput #fibonacciInput min="0">
</mat-form-field>

<button mat-button (click)="calculateFibonacci(fibonacciInput.value)">Go!</button>

<div *ngIf="fibonacciValue !== undefined">
    The fibonnaci number for {{inputValue}} is: {{fibonacciValue}}. 
</div>

<div *ngIf="hasSearchHistory()">
  <div>Search history:</div>
  <table>
    <thead>
      <tr>
        <td>Number</td>
        <td>Fibonacci</td>
        <td>Searched in</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of searchHistory.searchEntries">
        <td>{{entry.number}}</td>
        <td>{{entry.fibonacci}}</td>
        <td>{{entry.searchTimestamp}}</td>
      </tr>
    </tbody>
  </table>
</div>