<div class="content">
  <div class="logo"></div>
  <h1>Ask me the Fibonacci of: </h1>
  
  <div class="form">
    <input type="number" class="search-field" matInput #fibonacciInput min="0">
    <button mat-button (click)="calculateFibonacci(fibonacciInput.value)">Go!</button>
  </div>
  
  <div class="result" *ngIf="fibonacciValue !== undefined">
      The fibonnaci number for {{inputValue}} is: {{fibonacciValue}}. 
  </div>
  
  <div class="search-history-container" *ngIf="hasSearchHistory()">
    <h2>Search history:</h2>
    <table class="search-history">
      <thead>
        <tr>
          <td class="col-number">Number</td>
          <td class="col-fibonacci">Fibonacci</td>
          <td class="col-search-date">Searched in</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of searchHistory.searchEntries">
          <td class="col-number">{{entry.number}}</td>
          <td class="col-fibonacci">{{entry.fibonacci}}</td>
          <td class="col-search-date">{{entry.searchTimestamp}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>